.thanhtieude {
background-color: red;
overflow: auto;
}
.muaban {
border: 1px solid #add;
border-radius: 4px;
padding:  5px;
width: 199px;
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
float: left;
margin-left: 24px;
margin-bottom: 24px;
}
.content {
	/*background-color: red;*/
	width: 100%px;
	overflow: auto;
}
.timkiem{
	background-color: lightpink;
	height: 60px;
}
.danhmuc2{
	color: white;
	float: left;
	width: auto;
	margin-top: 0px;
	margin-left: 100px;
	margin-right: 25px;
	margin-bottom: 0px;
}
.timkiemsendo{
	width: 400px;
	height: 28px;
	float: left;
}
.nuttimkiem{
	background-color: #f5a623;
	color: white;
	height: 34px;
	float: left;
}
.item-left{
	/*width: 150px;*/
	width: auto;
	float: left;
	margin-left: 10px;
}
.item-right{
	float: right;
	margin-right: 50px;
}
.timkiem{
padding-top: 25px;
}
.vechungtoi{
	margin-left: 100px;
}